In [52]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('pesquisa_satisfacao.csv', sep =';')

#display é opcional, basta por a variavel. 

#display(df)

In [ ]:
media_satisfacao = df.groupby('Satisfação')['Tempo de Espera (min)'].mean().reset_index()
media_satisfacao['Tempo de Espera (min)'] = round(media_satisfacao['Tempo de Espera (min)'] , 2)
media_satisfacao

In [55]:
df_anp = pd.read_csv('ANP2025.csv', sep = ';')
df_anp

C:\Users\karam.asad\AppData\Local\Temp\ipykernel_27148\44155848.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_anp = pd.read_csv('ANP2025.csv', sep = ';')

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN
2,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,DIESEL S10,01/01/2025,"6,19",NaN,R$ / litro,RAIZEN
3,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,ETANOL,01/01/2025,"5,19",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_anp_rj = df_anp.loc[df_anp['Estado - Sigla'] == 'RJ']
df_anp_rj

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
54,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GNV,01/01/2025,"5,39",NaN,R$ / m³,VIBRA
55,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA,01/01/2025,"6,49",NaN,R$ / litro,VIBRA
56,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA ADITIVADA,01/01/2025,"6,69",NaN,R$ / litro,VIBRA
57,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,ETANOL,01/01/2025,"4,79",NaN,R$ / litro,VIBRA
58,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS B J LTDA,06.211.735/0001-40,RUA BENEDITO QUEIROZ,1,NaN,TURF CLUB,28024-040,GASOLINA,01/01/2025,"6,42",NaN,R$ / litro,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420095,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,DIESEL S10,30/06/2025,"6,69",NaN,R$ / litro,VIBRA
420096,SE,RJ,NOVA FRIBURGO,F.MURY DESIGN PROPAGANDA E PUBLICIDADE LTDA,07.707.130/0002-99,ESTRADA FRIBURGO AMPARO,15604,LP N 0130/2018 LP N 0440/2019,CHACARA PARAISO,28605-520,ETANOL,30/06/2025,"5,05",NaN,R$ / litro,VIBRA
420152,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420153,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,GASOLINA ADITIVADA,30/06/2025,"5,69",NaN,R$ / litro,RAIZEN
420154,SE,RJ,NITEROI,POSTO DE COMBUSTIVEIS GIGANTE DA ALAMEDA LTDA.,21.599.015/0001-98,ALAMEDA SAO BOAVENTURA,133,NaN,FONSECA,24130-005,ETANOL,30/06/2025,"4,19",NaN,R$ / litro,RAIZEN

In [ ]:
df_anp_rj['Valor de Venda'] = df_anp_rj['Valor de Venda'].str.replace(',', '.').astype(float)

In [ ]:
media_munip_rj = df_anp_rj.groupby('Municipio')['Valor de Venda'].mean().reset_index()
media_munip_rj = media_munip_rj.sort_values(by='Valor de Venda', ascending=False)
media_munip_rj

In [59]:
array_valor_venda = np.array(media_munip_rj['Valor de Venda'])

In [ ]:
media = np.mean(array_valor_venda)
mediana = np.median(array_valor_venda)

q1 = np.quantile(array_valor_venda, 0.25)
q2 = np.quantile(array_valor_venda, 0.50)
q3 = np.quantile(array_valor_venda, 0.75)

print(f'A média é {media}')
print(f'A mediana é {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')

In [61]:
munic_acima_q3 = media_munip_rj.loc[media_munip_rj['Valor de Venda'] > q3]
munic_acima_q3

         Municipio  Valor de Venda
0   ANGRA DOS REIS        6.470086
10           MACAE        6.224548
24       TRES RIOS        6.206138
2   BARRA DO PIRAI        6.168793
23       SAQUAREMA        6.070452
9        ITAPERUNA        6.069675
16      PETROPOLIS        6.064262

In [ ]:
df_anp_bairros_cap = df_anp_rj.loc[(df_anp_rj['Municipio'] == 'RIO DE JANEIRO') & (df_anp_rj['Produto'] == 'ETANOL')]
df_anp_bairros_cap

In [ ]:
media_bairro_rj = df_anp_bairros_cap.groupby('Bairro')['Valor de Venda'].mean().reset_index()
media_bairro_rj = media_bairro_rj.sort_values(by='Valor de Venda', ascending=False)
media_bairro_rj

In [92]:
array_valor_etanol_capital = np.array(media_bairro_rj['Valor de Venda'])

In [93]:
media_etanol = np.mean(array_valor_etanol_capital)
mediana_etanol = np.median(array_valor_etanol_capital)

q1_etanol = np.quantile(array_valor_etanol_capital, 0.25)
q2_etanol = np.quantile(array_valor_etanol_capital, 0.50)
q3_etanol = np.quantile(array_valor_etanol_capital, 0.75)

print(f'A média é {media_etanol}')
print(f'A mediana é {mediana_etanol}')
print(f'Primeiro quartil (Q1): {q1_etanol}')
print(f'Segundo quartil (Q2, Mediana): {q2_etanol}')
print(f'Terceiro quartil (Q3): {q3_etanol}')

A média é 4.607326653614213
A mediana é 4.633481563538535
Primeiro quartil (Q1): 4.463317034139403
Segundo quartil (Q2, Mediana): 4.633481563538535
Terceiro quartil (Q3): 4.770129958960329

In [ ]:
bairros_etanol = df_anp_bairros_cap.groupby('Bairro')['Valor de Venda'].mean().reset_index()
bairros_etanol = bairros_etanol.sort_values(by='Valor de Venda', ascending=False)
bairros_etanol

In [97]:
bairros_cap_etanol_q3 = media_bairro_rj.loc[media_bairro_rj['Valor de Venda'] > q3_etanol ]
bairros_cap_etanol_q3

                                  Bairro  Valor de Venda
17                              FLAMENGO        5.700000
27                       JARDIM BOTANICO        5.137619
50                        VARGEM PEQUENA        5.035000
29                                 LAGOA        4.906667
19                                 GAVEA        4.890000
30                           LARANJEIRAS        4.860833
31                                LEBLON        4.823333
23                             ITANHANGA        4.802000
51                         VASCO DA GAMA        4.795556
26  JARDIM  GUANABARA-ILHA DO GOVERNADOR        4.790000
20                                GLORIA        4.790000
28                        JARDIM CARIOCA        4.780000
45                            SANTISSIMO        4.779286
25                           JACAREPAGUÁ        4.778235